
#procedimientoSlip {
    position: fixed;
    bottom: 0;
    right: 8%;
    width: 50%;
    max-height: 90vh; /* Limita la altura total */
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column; /* Asegura que el contenido interno respete la altura */
}

#procedimientosList {
    max-height: 40vh; /* Limita la altura de la tabla */
    overflow-y: scroll;
    flex-grow: 1; /* Permite que la tabla ocupe el espacio disponible */
}

#procedimientoSlip.active {
    transform: translateY(0);
}

#procedimientoSlip.minimized {
    transform: translateY(calc(100% - 40px)); /* Minimizar pero mostrar la cabecera */
}

#tableList_content{
    max-height: 100%;
    overflow-y: scroll;
}

.minimize-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* #tableList{
    max-height: 50vh;
    overflow-y: scroll;
} */