
@media print,screen {

    * {
        font-family:Arial, Helvetica, sans-serif;
        print-color-adjust: exact;
        color-adjust: exact;
        text-rendering: optimizeLegibility;
        -webkit-print-color-adjust: exact;
        -webkit-color-adjust: exact;
        -moz-print-color-adjust: exact;
        -moz-color-adjust: exact;
        margin: 0 auto !important;
    }

    @page {
    size: letter portrait;
    margin-top: 0mm;
    margin-bottom: 0mm;    
    margin-left: 0mm;
    margin-right: 0mm;
    
    }
    #header,
    .header-space{
        height: 50mm;
        width: 100%;
    }
    #footer,
    .footer-space {
        height: 30mm;
        width: 100%;
    }

    #header {
        position: fixed !important;
        top: 0 !important;
    }
    
    #contenido {        
        padding-left: 30mm !important;
        padding-right: 20mm !important;
    }

    .marcaAgua {
        position: fixed;
        
        top: 0;
        left: 0;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;

        opacity: 1;
        width: 100%;
        height: auto;
        z-index: -99999;

    }

    #footer {
        position: fixed !important;
        bottom: 0 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    div,
    td {
        page-break-before: auto !important;
        page-break-after: auto !important;
        page-break-inside: auto !important;
    }
}